name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: windows-2019

    steps:
    - uses: actions/checkout@v2
    - name: Setup nuget
      uses: NuGet/setup-nuget@v1
      
    - name: Nuget restore
      run: nuget restore ZoomInClass.sln
      
    - name: Setup MSBuild
      uses: microsoft/setup-msbuild@v1.0.1
      
    - name: Build
      run: MSBuild.exe ZoomInClass.sln /p:Configuration=Debug
